.detailpage-modal {
    .header {
        color: rgb(142, 68, 173) !important;
        background-color: rgb(224, 224, 224) !important;
        border-bottom: none !important;
    }

    .modal-content {
        background-color: rgb(224, 224, 224) !important;
        padding-bottom: 1rem !important;

        .header {
            font-size: 2rem;
            font-weight: bold;
            color: black !important;
            padding-left: 2rem;
        }

        .modal-desc {
            min-height: 15rem;
            margin: 0 auto;
            padding: 1rem;
            font-size: 1.3rem;
            width: 95% !important;
            background-color: white;
        }
    }

    .modal-btns {
        border-top: none !important;
        background-color: rgb(224, 224, 224) !important;
        text-align: center !important;
        padding-bottom: 2rem !important;

        button {
            color: white;
            font-size: 1.5rem;
            width: 19rem;
            height: 3rem;
            line-height: 1rem;
        }

        .cancel-btn {
            background-color: black;
        }

        .submit-btn {

            background-color: rgb(142, 68, 173) !important;
        }
    }
}

.detailpage-container {
    padding-top: 8rem !important;
    font-family: "Cute Font', cursive";

    .detailpage-header {
        padding-bottom: 2.5rem;
        border-bottom: 0.2rem solid gray;

        h1 {
            font-size: 2.5rem !important;
            font-family: "Cute Font', cursive";


            span {
                color: rgb(142, 68, 173);
                margin-right: 1.5rem;
                font-size: 4rem;
            }
        }
    }

    .detailpage-todos {}
}