.detailpage-todo {
    padding: 1rem !important;
    margin-bottom: 3rem !important;
    background-color: rgb(224, 224, 224) !important;

    .header {
        color: rgb(142, 68, 173) !important;
        font-size: 1.3rem !important;
        font-family: "Cute Font', cursive" !important;
    }

    .description {
        font-size: 1.5rem !important;
    }

    button {
        font-size: 1.5rem !important;
        font-family: "Cute Font', cursive";
        color: white !important;
        background-color: rgb(94, 94, 94) !important;
    }
}