.groupuser-container {
  font-family: "Cute Font', cursive";
  padding-top: 5rem !important;
  // padding-left: 10rem !important;
  .groupuser-header {
    text-align: center !important;
    padding-bottom: 2rem !important;
    border-bottom: 0.1rem solid;

    .header {
      font-size: 4rem !important;
      color: rgb(142, 68, 173);
      .menu {
        border: 0.1rem solid rgb(142, 68, 173) !important;
      }
      .item {
        width: 18rem !important;
        &:hover {
          background-color: rgb(142, 68, 173) !important;
          color: white !important;
        }
      }

      // .item.selected {
      //   background-color: rgb(142, 68, 173) !important;
      //   color: white !important;
      // }
      i {
        &:hover {
          color: black;
        }
      }
    }

    .manage-subject-btn {
      position: absolute;
      left: 0;
      bottom: 1rem;
      color: white;
      background-color: black;
      &:hover {
        background-color: rgb(142, 68, 173);
        color: white;
      }
    }
  }

  .groupuser-content {
    margin-top: 1rem !important;
    // padding-left: 5rem !important;
    min-height: 45rem;
    position: relative;
    .user-container {
      min-height: 30rem;
      padding: 3%;
      width: 30rem;
      border: 0.2rem solid black;
      overflow: hidden;
      .user-checkbox {
        display: none;
      }
      .user {
        float: left;
        margin: 1rem;

        button {
          font-size: 1.2rem;
        }
      }
    }
    .right-btn {
      position: absolute;
      top: 28%;
      left: 4rem;
      font-size: 5rem;
      cursor: pointer;
      &:hover {
        color: rgb(142, 68, 173);
      }
    }
    .left-btn {
      position: absolute;
      top: 45%;
      left: 4rem;
      font-size: 5rem;
      cursor: pointer;
      &:hover {
        color: rgb(142, 68, 173);
      }
    }
  }
}
.submit-btn {
  background-color: rgb(142, 68, 173) !important;
  color: white !important;
  margin-left: 15rem !important;
}
