.subject-card {
    padding-top: 3rem !important;
    padding-left: 1rem !important;
    height: 10rem;
    width: 10rem !important;
    margin-right: 3% !important;
    cursor: pointer;

    span {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}