.listpage-contianer {
  padding-top: 10rem !important;
  font-family: "Cute Font', cursive";

  .listpage-search {
    position: relative;

    input {
      border-radius: 1rem !important;
    }

    button {
      font-family: "Cute Font', cursive";
      padding: 1.2rem !important;
      position: absolute;
      top: 9px;
      right: 25px;
      border-radius: 0.7rem !important;
      background-color: #8e44ad;
      color: white;
      font-size: 1.1rem;
    }
  }

  .listpage-subject {
    padding-top: 1% !important;

    h2 {
      font-family: "Cute Font', cursive";
      margin-bottom: 2%;
    }

  }

  .listpage-list {
    padding-top: 5% !important;

    h2 {
      font-family: "Cute Font', cursive";
      margin-bottom: 2%;
    }
  }
}