.list-card {
    font-family: "Cute Font', cursive";
    height: max-content !important;

    .header {
        font-family: "Cute Font', cursive" !important;
    }

    cursor: pointer;
    height: 25rem;
    margin-bottom: 2% !important;
}